<div class="span12">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="line1">Address Line 1</label>

      <div class="controls">
        <input id="line1" type="text" data-ng-model="line1" data-ng-change="updateAnswer()">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="line2">Address Line 2</label>

      <div class="controls">
        <input id="line2" type="text" data-ng-model="line2" data-ng-change="updateAnswer()">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="city">City</label>

      <div class="controls">
        <input id="city" type="text" data-ng-model="city" data-ng-change="updateAnswer()">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="state">State</label>

      <div class="controls">
        <input id="state" type="text" data-ng-model="state" data-ng-change="updateAnswer()">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="zip">Zip</label>

      <div class="controls">
        <input id="zip" type="text" data-ng-model="zip" data-ng-change="updateAnswer()">
      </div>
    </div>
  </form>
</div>